<div class="container-fluid bg-3 text-center">    
  <h3>App List</h3><br>
  <div class="row">
    <div class="col-sm-3" *ngFor="let result of results">

      <div class="panel panel-default" (click)="selectApp(result)" data-toggle="modal" data-target="#myModal">
          <div class="panel-heading">
            <img class="img-responsive" 
                 src="{{result.data.icon_img}}" 
                 >
            {{result.data.display_name}}
          </div>
      </div>
   
    </div>
  </div>
</div>



<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
      <app-app-detail [App]="selectedApp"></app-app-detail> 
  </div>
</div>

